.tube{
    height: 100px;
    width: 25px;
    background-color: black;
}

.lightbox{
    height: 250px;
    width: 100px;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.light{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    margin-top: 5px;
    
}

.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.glow{
    filter: drop-shadow(5px 5px 10px #FFFFFF);
}